{% if network == "mainnet" %}
{% set bootstrap_peers = [
  {"address": "backbone.cardano.iog.io", "port": 3001},
  {"address": "backbone.mainnet.emurgornd.com", "port": 3001},
  {"address": "backbone.mainnet.cardanofoundation.org", "port": 3001}
] %}
{% else %}
{% set bootstrap_peers = [] %}
{% endif %}
{% set relay_upstreams = relay_nodes | rejectattr("name", "equalto", inventory_hostname) | list %}
{% if role == "bp" %}
{
  "bootstrapPeers": [],
  "localRoots": [
    {
      "accessPoints": [
        {% for relay in relay_nodes %}
        { "address": "{{ relay.ip }}", "port": 3001 }{% if not loop.last %},{% endif %}
        {% endfor %}
      ],
      "advertise": false,
      "valency": {{ relay_nodes | length }},
      "trustable": true
    }
  ],
  "publicRoots": [
    {
      "accessPoints": [],
      "advertise": false
    }
  ],
  "useLedgerAfterSlot": -1
}
{% else %}
{
  "bootstrapPeers": [
    {% for peer in bootstrap_peers %}
    { "address": "{{ peer.address }}", "port": {{ peer.port }} }{% if not loop.last %},{% endif %}
    {% endfor %}
  ],
  "localRoots": [
    {% if relay_upstreams | length > 0 %}
    {
      "accessPoints": [
        {% for relay in relay_upstreams %}
        { "address": "{{ relay.ip }}", "port": 3001 }{% if not loop.last %},{% endif %}
        {% endfor %}
      ],
      "advertise": false,
      "valency": {{ relay_upstreams | length }},
      "trustable": false
    }
    {% endif %}
  ],
  "publicRoots": [
    {
      "accessPoints": [],
      "advertise": false
    }
  ],
  "useLedgerAfterSlot": {{ use_ledger_after_slot | default(128908821) }}
}
{% endif %}
