global:
  scrape_interval: {{ ops_metrics_prometheus_scrape_interval }}
  scrape_timeout: {{ ops_metrics_prometheus_scrape_timeout }}

scrape_configs:
  - job_name: "cardano-node-pool"
    static_configs:
{% for scrape_target in ops_metrics_effective_scrape_targets %}
      - targets:
          - "{{ scrape_target.target }}"
        labels:
          node: "{{ scrape_target.node }}"
          role: "{{ scrape_target.role }}"
          host_ip: "{{ scrape_target.host_ip }}"
{% endfor %}
